/* Style fonts */

@font-face {
  font-family: "montserrat_alternatesblack";
  src:
    url("./assets/fonts/montserratalternates-black-webfont.woff2") format("woff2"),
    url("./assets/fonts/montserratalternates-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_alternatesXBd";
  src:
    url("./assets/fonts/montserratalternates-extrabold-webfont.woff2") format("woff2"),
    url("./assets/fonts/montserratalternates-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_alternatesLtIt";
  src:
    url("./assets/fonts/montserratalternates-lightitalic-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/montserratalternates-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat_alternatesregular";
  src:
    url("./assets/fonts/montserratalternates-regular-webfont.woff2") format("woff2"),
    url("./assets/fonts/montserratalternates-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --c-color-1: #244855;
  --c-color-2: #e64833;
  --c-color-3: #874f41;
  --c-color-4: #90aead;
  --c-color-5: #fbe9d0;
  --c-color-6: #0912159a;
  --c-transparent-1: #244855c3;
  --c-transparent-2: #e64833a1;
  --c-transparent-5: #fbe9d099;
}

html {
  background-color: var(--c-color-1);
}

body {
  font-family: montserrat_alternatesregular;
  background: linear-gradient(var(--c-color-4), var(--c-color-1));
  height: 100vh;
}

#header {
  background-color: var(--c-color-1);
}

#header-items {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: clamp(450px, 75%, 2000px);
}

.logo {
  font-size: 2.5em;
  font-family: montserrat_alternatesblack;
  color: var(--c-color-2);
}

#search-field {
  position: relative;
  width: 250px;
  height: 50px;
}

label[for="search"] {
  color: var(--c-color-5);
  position: absolute;
  top: 14px;
  left: 10px;
  user-select: none;
  text-align: center;
  cursor: text;
  transition: all 0.2s;
}

#search {
  position: absolute;
  height: 50px;
  border: 2px solid var(--c-color-5);
  color: var(--c-color-2);
  font-size: 1.2em;
  padding: 10px;
  border-radius: 10px;
  background-color: transparent;
  outline: none;
  width: 100%;
}

#search:focus + label,
#search:valid + label {
  background-color: var(--c-color-1);
  transform: translate(-20px, -28px) scale(0.8);
  border-left: 2px solid var(--c-color-5);
  border-right: 2px solid var(--c-color-5);

  padding: 0px 5px;
}

#main-content {
  height: 100%;
}

#current-weather {
  /* background-color: var(--c-color-4); */
  height: 35%;
  padding: 20px;
}

#current-weather-card {
  height: 100%;
  margin: 0 auto;
  width: 1000px;
  background-color: var(--c-color-6);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(3, 1fr);
}

#current-weather-card-title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--c-color-5);

  font-family: montserrat_alternatesblack;
  font-size: 3em;
}

#current-weather-card-temperature {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  color: var(--c-color-2);
  font-size: 5.5em;
  align-self: center;
  justify-self: start;
}

#current-weather-card-temp-container {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  color: var(--c-transparent-2);
  display: flex;
  gap: 10px;

  padding: 5px 25px;
  align-self: end;
  justify-self: start;
}

.current-weather-card-temp-children:first-child {
  border-right: 2px solid var(--c-transparent-1);
  padding-right: 10px;
}

#current-weather-card-icon {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: center;
}

#current-weather-card-icon img {
  height: 90%;
  width: 50%;
  margin: 0 auto;
}

#current-weather-card-description {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  justify-self: center;

  color: var(--c-color-5);
}

#daily-weather {
  height: 65%;
}

#daily-weather-container {
  width: clamp(450px, 75%, 1000px);
  margin: 0 auto;
  background-color: var(--c-color-6);
  border-radius: 20px;
  padding: 20px;
}

#daily-weather-title {
  font-family: montserrat_alternatesblack;
  font-size: 1.5em;
  color: var(--c-color-2);
}

#daily-weather-card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.daily-weather-card {
  display: flex;
  justify-content: space-between;
  color: var(--c-color-5);
  background-color: var(--c-color-1);
  border-radius: 10px;
  align-items: center;
  padding: 10px;
}

.daily-weather-card-left-side-container {
  display: flex;
  gap: 50px;
  align-items: center;
}

.daily-weather-card-img-container {
  width: 50px;
}

.daily-weather-card-date {
  width: 80px;
}

.daily-weather-card-temp {
  color: var(--c-color-2);
  font-size: 1.6em;
}
